In [2]:
import pandas as pd
A = ["REACT", "MySQL", "PHP", "JSON", "JAVA"]

In [3]:
myCode = pd.Series(A)
print(myCode)

0    REACT
1    MySQL
2      PHP
3     JSON
4     JAVA
dtype: object

In [5]:
import pandas as pd
B = {"Day1": 400, "Day2": 500, "Day3": 600}
myDays = pd.Series(B)
print(myDays)

Day1    400
Day2    500
Day3    600
dtype: int64

In [7]:
import pandas as pd
P = {
    "Student":["John", "Peter", "Luke"],
    "Score":[400, 300, 500],
    "Position":["2nd", "3rd", "1st"],
    "Colors":["Blue", "Red", "Green"]
}
myStud= pd.DataFrame(P)
print(myStud)

  Student  Score Position Colors
0    John    400      2nd   Blue
1   Peter    300      3rd    Red
2    Luke    500      1st  Green

In [9]:
myCsv = pd.read_csv(r"C:\Users\ibiso\OneDrive\Documents\Countriesxyz\data.csv")
print(myCsv)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [12]:
myExcel = pd.read_excel(r"C:\Users\ibiso\OneDrive\Documents\Countriesxyz\world_population_excel_workbook.xlsx")
print(myExcel)

     Rank CCA3            Country           Capital Continent  \
0      36  AFG        Afghanistan             Kabul      Asia
1     138  ALB            Albania            Tirana    Europe
2      34  DZA            Algeria           Algiers    Africa
3     213  ASM     American Samoa         Pago Pago   Oceania
4     203  AND            Andorra  Andorra la Vella    Europe
..    ...  ...                ...               ...       ...
229   226  WLF  Wallis and Futuna          Mata-Utu   Oceania
230   172  ESH     Western Sahara         El AaiÃºn    Africa
231    46  YEM              Yemen             Sanaa      Asia
232    63  ZMB             Zambia            Lusaka    Africa
233    74  ZWE           Zimbabwe            Harare    Africa

     2022 Population  2020 Population  2015 Population  2010 Population  \
0           41128771         38972230         33753499         28189672
1            2842321          2866849          2882481          2913399
2           44903225         43451666         39543154         35856344
3              44273            46189            51368            54849
4              79824            77700            71746            71519
..               ...              ...              ...              ...
229            11572            11655            12182            13142
230           575986           556048           491824           413296
231         33696614         32284046         28516545         24743946
232         20017675         18927715         16248230         13792086
233         16320537         15669666         14154937         12839771

     2000 Population  1990 Population  1980 Population  1970 Population  \
0           19542982         10694796         12486631         10752971
1            3182021          3295066          2941651          2324731
2           30774621         25518074         18739378         13795915
3              58230            47818            32886            27075
4              66097            53569            35611            19860
..               ...              ...              ...              ...
229            14723            13454            11315             9377
230           270375           178529           116775            76371
231         18628700         13375121          9204938          6843607
232          9891136          7686401          5720438          4281671
233         11834676         10113893          7049926          5202918

     Area (kmÂ²)  Density (per kmÂ²)  Growth Rate  World Population Percentage
0         652230             63.0587       1.0257                         0.52
1          28748             98.8702       0.9957                         0.04
2        2381741             18.8531       1.0164                         0.56
3            199            222.4774       0.9831                         0.00
4            468            170.5641       1.0100                         0.00
..           ...                 ...          ...                          ...
229          142             81.4930       0.9953                         0.00
230       266000              2.1654       1.0184                         0.01
231       527968             63.8232       1.0217                         0.42
232       752612             26.5976       1.0280                         0.25
233       390757             41.7665       1.0204                         0.20

[234 rows x 17 columns]

In [13]:
myJson =pd.read_json(r"C:\Users\ibiso\OneDrive\Documents\Countriesxyz\json_sample.json")
print(myJson)

                                           12 Strong  \
0  {'Genre': 'Action', 'Gross': '$453,173', 'IMDB...

            A Fantastic Woman (Una Mujer Fantástica)  \
0  {'popcornscore': 83, 'rating': 'R', 'tomatosco...

                          All The Money In The World  \
0  {'popcornscore': 71, 'rating': 'R', 'tomatosco...

                          Bilal: A New Breed Of Hero  \
0  {'popcornscore': 91, 'rating': 'PG13', 'tomato...

                                Call Me By Your Name  \
0  {'popcornscore': 87, 'rating': 'R', 'tomatosco...

                                        Darkest Hour  \
0  {'popcornscore': 84, 'rating': 'PG13', 'tomato...

                                      Den Of Thieves  \
0  {'Genre': 'Action', 'Gross': '$491,898', 'IMDB...

                                           Ferdinand  \
0  {'popcornscore': 49, 'rating': 'PG', 'tomatosc...

                                  Fifty Shades Freed  \
0  {'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...

                   Film Stars Don'T Die In Liverpool  ...  \
0  {'popcornscore': 69, 'rating': 'R', 'tomatosco...  ...

                                  The 15:17 To Paris  \
0  {'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...

                                        The Commuter  \
0  {'popcornscore': 48, 'rating': 'PG13', 'tomato...

                                 The Disaster Artist  \
0  {'popcornscore': 89, 'rating': 'R', 'tomatosco...

                                The Greatest Showman  \
0  {'Genre': 'Biography', 'Gross': '$627,248', 'I...

                              The Insult (L'Insulte)  \
0  {'popcornscore': 86, 'rating': 'R', 'tomatosco...

                                            The Post  \
0  {'Genre': 'Biography', 'Gross': '$463,228', 'I...

                                  The Shape Of Water  \
0  {'Genre': 'Adventure', 'Gross': '$448,287', 'I...

           Three Billboards Outside Ebbing, Missouri  \
0  {'popcornscore': 87, 'rating': 'R', 'tomatosco...

                           Till The End Of The World  \
0  {'popcornscore': -1, 'rating': 'NR', 'tomatosc...

                                          Winchester
0  {'Genre': 'Biography', 'Gross': '$696,786', 'I...

[1 rows x 38 columns]