In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\ibiso\OneDrive\Documents\Countriesxyz\world_population_excel_workbook.xlsx")

In [3]:
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [5]:
df = pd.read_excel(r"C:\Users\ibiso\OneDrive\Documents\Countriesxyz\world_population_excel_workbook.xlsx", index_col = 'Country' )
df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [42]:
df.reset_index(inplace=True)

In [43]:
df

,Country,level_0,index,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,Afghanistan,0,0,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,1,1,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,2,2,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,3,3,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,4,4,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,229,229,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,230,230,172,ESH,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,231,231,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,232,232,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,233,233,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [51]:
df.set_index('Country', inplace=True)
df

,level_0,index,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,1,1,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,2,2,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,3,3,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,4,4,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,229,229,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,230,230,172,ESH,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,231,231,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,232,232,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,233,233,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [52]:
df.loc['Zambia']

level_0                             232
index                               232
Rank                                 63
CCA3                                ZMB
Capital                          Lusaka
Continent                        Africa
2022 Population                20017675
2020 Population                18927715
2015 Population                16248230
2010 Population                13792086
2000 Population                 9891136
1990 Population                 7686401
1980 Population                 5720438
1970 Population                 4281671
Area (kmÂ²)                      752612
Density (per kmÂ²)              26.5976
Growth Rate                       1.028
World Population Percentage        0.25
Name: Zambia, dtype: object

In [53]:
df.iloc[232]

level_0                             232
index                               232
Rank                                 63
CCA3                                ZMB
Capital                          Lusaka
Continent                        Africa
2022 Population                20017675
2020 Population                18927715
2015 Population                16248230
2010 Population                13792086
2000 Population                 9891136
1990 Population                 7686401
1980 Population                 5720438
1970 Population                 4281671
Area (kmÂ²)                      752612
Density (per kmÂ²)              26.5976
Growth Rate                       1.028
World Population Percentage        0.25
Name: Zambia, dtype: object

In [67]:
df.reset_index(inplace=True)
df.set_index(['Continent', 'Country'], inplace=True)
df

                             level_0  index  Rank CCA3           Capital  \
Continent Country
Asia      Afghanistan              0      0    36  AFG             Kabul
Europe    Albania                  1      1   138  ALB            Tirana
Africa    Algeria                  2      2    34  DZA           Algiers
Oceania   American Samoa           3      3   213  ASM         Pago Pago
Europe    Andorra                  4      4   203  AND  Andorra la Vella
...                              ...    ...   ...  ...               ...
Oceania   Wallis and Futuna      229    229   226  WLF          Mata-Utu
Africa    Western Sahara         230    230   172  ESH         El AaiÃºn
Asia      Yemen                  231    231    46  YEM             Sanaa
Africa    Zambia                 232    232    63  ZMB            Lusaka
          Zimbabwe               233    233    74  ZWE            Harare

                             2022 Population  2020 Population  \
Continent Country
Asia      Afghanistan               41128771         38972230
Europe    Albania                    2842321          2866849
Africa    Algeria                   44903225         43451666
Oceania   American Samoa               44273            46189
Europe    Andorra                      79824            77700
...                                      ...              ...
Oceania   Wallis and Futuna            11572            11655
Africa    Western Sahara              575986           556048
Asia      Yemen                     33696614         32284046
Africa    Zambia                    20017675         18927715
          Zimbabwe                  16320537         15669666

                             2015 Population  2010 Population  \
Continent Country
Asia      Afghanistan               33753499         28189672
Europe    Albania                    2882481          2913399
Africa    Algeria                   39543154         35856344
Oceania   American Samoa               51368            54849
Europe    Andorra                      71746            71519
...                                      ...              ...
Oceania   Wallis and Futuna            12182            13142
Africa    Western Sahara              491824           413296
Asia      Yemen                     28516545         24743946
Africa    Zambia                    16248230         13792086
          Zimbabwe                  14154937         12839771

                             2000 Population  1990 Population  \
Continent Country
Asia      Afghanistan               19542982         10694796
Europe    Albania                    3182021          3295066
Africa    Algeria                   30774621         25518074
Oceania   American Samoa               58230            47818
Europe    Andorra                      66097            53569
...                                      ...              ...
Oceania   Wallis and Futuna            14723            13454
Africa    Western Sahara              270375           178529
Asia      Yemen                     18628700         13375121
Africa    Zambia                     9891136          7686401
          Zimbabwe                  11834676         10113893

                             1980 Population  1970 Population  Area (kmÂ²)  \
Continent Country
Asia      Afghanistan               12486631         10752971       652230
Europe    Albania                    2941651          2324731        28748
Africa    Algeria                   18739378         13795915      2381741
Oceania   American Samoa               32886            27075          199
Europe    Andorra                      35611            19860          468
...                                      ...              ...          ...
Oceania   Wallis and Futuna            11315             9377          142
Africa    Western Sahara              116775            76371       266000
Asia      Yemen                      9204938          6843607       527968
Africa    Zambia                     5720438          4281671       752612
          Zimbabwe                   7049926          5202918       390757

                             Density (per kmÂ²)  Growth Rate  \
Continent Country
Asia      Afghanistan                   63.0587       1.0257
Europe    Albania                       98.8702       0.9957
Africa    Algeria                       18.8531       1.0164
Oceania   American Samoa               222.4774       0.9831
Europe    Andorra                      170.5641       1.0100
...                                         ...          ...
Oceania   Wallis and Futuna             81.4930       0.9953
Africa    Western Sahara                 2.1654       1.0184
Asia      Yemen                         63.8232       1.0217
Africa    Zambia                        26.5976       1.0280
          Zimbabwe                      41.7665       1.0204

                             World Population Percentage
Continent Country
Asia      Afghanistan                               0.52
Europe    Albania                                   0.04
Africa    Algeria                                   0.56
Oceania   American Samoa                            0.00
Europe    Andorra                                   0.00
...                                                  ...
Oceania   Wallis and Futuna                         0.00
Africa    Western Sahara                            0.01
Asia      Yemen                                     0.42
Africa    Zambia                                    0.25
          Zimbabwe                                  0.20

[234 rows x 17 columns]

In [73]:
df.sort_index(ascending=False)
#pd.set_option('display.max.columns',235)

                            level_0  index  Rank CCA3      Capital  \
Continent     Country
South America Venezuela         227    227    51  VEN      Caracas
              Uruguay           223    223   133  URY   Montevideo
              Suriname          199    199   170  SUR   Paramaribo
              Peru              162    162    44  PER         Lima
              Paraguay          161    161   109  PRY    AsunciÃ³n
...                             ...    ...   ...  ...          ...
Africa        Burkina Faso       31     31    58  BFA  Ouagadougou
              Botswana           26     26   144  BWA     Gaborone
              Benin              21     21    77  BEN   Porto-Novo
              Angola              5      5    42  AGO       Luanda
              Algeria             2      2    34  DZA      Algiers

                            2022 Population  2020 Population  2015 Population  \
Continent     Country
South America Venezuela            28301696         28490453         30529716
              Uruguay               3422794          3429086          3402818
              Suriname               618040           607065           575475
              Peru                 34049588         33304756         30711863
              Paraguay              6780744          6618695          6177950
...                                     ...              ...              ...
Africa        Burkina Faso         22673762         21522626         18718019
              Botswana              2630296          2546402          2305171
              Benin                13352864         12643123         10932783
              Angola               35588987         33428485         28127721
              Algeria              44903225         43451666         39543154

                            2010 Population  2000 Population  1990 Population  \
Continent     Country
South America Venezuela            28715022         24427729         19750579
              Uruguay               3352651          3292224          3117012
              Suriname               546080           478998           412756
              Peru                 29229572         26654439         22109099
              Paraguay              5768613          5123819          4059195
...                                     ...              ...              ...
Africa        Burkina Faso         16116845         11882888          9131361
              Botswana              2091664          1726985          1341474
              Benin                 9445710          6998023          5133419
              Angola               23364185         16394062         11828638
              Algeria              35856344         30774621         25518074

                            1980 Population  1970 Population  Area (kmÂ²)  \
Continent     Country
South America Venezuela            15210443         11355475       916445
              Uruguay               2953750          2790265       181034
              Suriname               375112           379918       163820
              Peru                 17492406         13562371      1285216
              Paraguay              3078912          2408787       406752
...                                     ...              ...          ...
Africa        Burkina Faso          6932967          5611666       272967
              Botswana               938578           592244       582000
              Benin                 3833939          3023443       112622
              Angola                8330047          6029700      1246700
              Algeria              18739378         13795915      2381741

                            Density (per kmÂ²)  Growth Rate  \
Continent     Country
South America Venezuela                30.8820       1.0036
              Uruguay                  18.9069       0.9990
              Suriname                  3.7727       1.0082
              Peru                     26.4933       1.0099
              Paraguay                 16.6705       1.0115
...                                        ...          ...
Africa        Burkina Faso             83.0641       1.0259
              Botswana                  4.5194       1.0162
              Benin                   118.5635       1.0274
              Angola                   28.5466       1.0315
              Algeria                  18.8531       1.0164

                            World Population Percentage
Continent     Country
South America Venezuela                            0.35
              Uruguay                              0.04
              Suriname                             0.01
              Peru                                 0.43
              Paraguay                             0.09
...                                                 ...
Africa        Burkina Faso                         0.28
              Botswana                             0.03
              Benin                                0.17
              Angola                               0.45
              Algeria                              0.56

[234 rows x 17 columns]