In [1]:
print('Hello World')

Hello World

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv(r"C:\Users\ibiso\OneDrive\Documents\Countriesxyz\countries of the world.csv")

In [4]:
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [6]:
df.shape

(227, 2)

In [7]:
df.head()

           Country                               Region
0     Afghanistan         ASIA (EX. NEAR EAST)
1         Albania   EASTERN EUROPE
2         Algeria   NORTHERN AFRICA
3  American Samoa   OCEANIA
4         Andorra   WESTERN EUROPE

In [8]:
df.head(10)

              Country                               Region
0        Afghanistan         ASIA (EX. NEAR EAST)
1            Albania   EASTERN EUROPE
2            Algeria   NORTHERN AFRICA
3     American Samoa   OCEANIA
4            Andorra   WESTERN EUROPE
5             Angola   SUB-SAHARAN AFRICA
6           Anguilla               LATIN AMER. & CARIB
7  Antigua & Barbuda               LATIN AMER. & CARIB
8          Argentina               LATIN AMER. & CARIB
9            Armenia                  C.W. OF IND. STATES

In [9]:
df.tail()

             Country                               Region
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

In [10]:
df.tail(12)

                Country                               Region
215            Uruguay               LATIN AMER. & CARIB
216         Uzbekistan                  C.W. OF IND. STATES
217            Vanuatu   OCEANIA
218          Venezuela               LATIN AMER. & CARIB
219            Vietnam         ASIA (EX. NEAR EAST)
220     Virgin Islands               LATIN AMER. & CARIB
221  Wallis and Futuna   OCEANIA
222          West Bank   NEAR EAST
223     Western Sahara   NORTHERN AFRICA
224              Yemen   NEAR EAST
225             Zambia   SUB-SAHARAN AFRICA
226           Zimbabwe   SUB-SAHARAN AFRICA